.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.1s;
    transition-timing-function: ease-out;
    mix-blend-mode: difference;
}

.cursor.hovered {
    width: 50px;
    height: 50px;
    background-color: rgba(56, 189, 248, 0.3);
    border-color: transparent;
}

.cursor.clicked {
    transform: translate(-50%, -50%) scale(0.8);
    background-color: var(--primary-color);
}

.cursor.hidden {
    opacity: 0;
}

@media (max-width: 768px) {
    .cursor {
        display: none;
    }
}